<nav class="navbar navbar-expand-lg navbar-light">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
  
  
        <!-- <a class="nav-item nav-link " href="/portfolYOU/about/">About</a> -->
        <a class="nav-item nav-link" target="_blank" href="mailto:sapkotashreya8@gmail.com" style="color: #6c757d" onmouseover="this.style.color='#db4437'" onmouseout="this.style.color='#6c757d'">
            <i class="fas fa-envelope fa-1x"></i>
          </a>
          <!-- <a class="nav-item nav-link  social mx-1" target="_blank" href="https://www.facebook.com/shreya.sapkota.87" style="color: #6c757d" onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='#6c757d'">
            <i class="fab fa-facebook fa-1x"></i>
          </a> -->
          <a class=" nav-item nav-link social mx-1" target="_blank" href="https://www.linkedin.com/in/shreya-sapkota-70a9a1148/" style="color: #6c757d" onmouseover="this.style.color='#0e76a8'" onmouseout="this.style.color='#6c757d'">
            <i class="fab fa-linkedin-in fa-1x"></i>
          </a><a class=" nav-item nav-link social mx-1" target="_blank" href="https://www.twitter.com/sapkota_shreya" style="color: #6c757d" onmouseover="this.style.color='#1da1f2'" onmouseout="this.style.color='#6c757d'">
            <i class="fab fa-twitter fa-1x"></i>
          </a>
        <a class="nav-item nav-link" target="_blank" href="https://github.com/shreya643" style="color: #6c757d" onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#6c757d'"><i class="fab fa-1x fa-github"></i></a>
      
  
      </div>
    </div>
  
  </nav>